<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/sign-up.css">
<link rel="stylesheet" href="../css/demo.css">
<body>
	<div class="sign-main">
		<h3 class="title">
			<div class="normal-title">
				<a href="" ng-class="{true:'select'}[isSelect]">登录</a>
				<b>·</b>
				<a href="" class="select" ng-class="{true:'select'}[isSelect]">注册</a>
			</div>
		</h3>
		<div class="sign-up-box">
			<form action="">
				<div>
					<input type="text" placeholder="你的昵称" class="name">
					<i class="iconfont user_name"></i>
				</div>
				<div>
					<input type="text" placeholder="手机号" >
					<i class="iconfont tel"></i>
				</div>
				<div>
					<input type="password" placeholder="设置密码" class="keyword">
					<i class="iconfont password"></i>
				</div>
				<div>
					<input type="submit" value="注册" class="sign-up">
				</div>
				<p>
					点击“注册”即表示您同意并愿意遵守<br><a href="">用户协议</a> 和 <a href="">隐私政策</a> 
				</p>
			</form>
		</div>
	</div>
</body>
</html>
<script src="../js/angular.min.js"></script>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/iconfont.js"></script>
<script src="../js/index.js"></script>
