<nav>
    <div class="headerMenu">
        <a href="index.html" class="myLogo btn">我的博客</a>
        <a href="" class="signInBtn btn">写文章</a>
        <a href="sign-up.html" class="registerBtn btn">注册</a>
        <a href="sign-in.html" class="registerBtn btn">登录</a>
        <!-- <a href="myself.html" class="user_head_pic"><img src="http://upload.jianshu.io/users/upload_avatars/2963884/fff1fb89babb?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120" alt=""></a> -->
    </div>
</nav>