<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
</head>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/myself.css">
<link rel="stylesheet" href="/css/demo.css">
<body  ng-app="myApp" ng-controller="pageCtrl">
	<%include header%>	
	<figure>
		<div class="container">
			<div class="author">
				<a href="myself.html?id=<%=session.userId%>" class="avatar">
					<img src="/pic/user1.png" alt="">
				</a>
				<div class="info">
					<h3><%=data.username%></h3>
					<div>
						<!-- <a href=""><p>1</p> 关注</a> -->
						<a href=""><p ng-bind="commentList.length||0"></p>评论</a>
						<a href=""><p ng-bind="pageList.length||0"></p>文章</a>
					</div>
				</div>
			</div>
			<div class="tab_menu">
				<ul>
					<li ng-class="{true:'select'}[isPage]" ng-click="tabPage()">文章</li>
					<!-- <li>关注</li> -->
					<li ng-class="{true:'select'}[!isPage]" ng-click="tabReply()">评论</li>
				</ul>
			</div>
			<div class="tab_content">
				<ul ng-show="isPage">
					<li ng-repeat="page in pageList" ng-cloak="true">
						<div class="passage_author">
							<a tar ng-href="/myself.html?id={{page.userId}}" class="avatar">
								<img src="/pic/user1.png" alt="">
							</a>
							<div class="name">
								<a href="">{{page.username}}</a>
								<span>{{page.upload_date|date:'yyyy-MM-dd'}}</span>
							</div>
						</div>
						<a target="_blank" ng-href="/page/{{page.id}}" >
							<h3 class="title">
								{{page.title}}
							</h3>
						</a>	
						<a tar ng-href="/page/{{page.id}}" >	
							<p class="abstract">
								{{page.abstract}}
							</p>
						</a>							
						<div class="meta">
							<a href=""><i class="iconfont read-num"></i></a>
							<a href=""><i class="iconfont reply-num"></i></a>
							<span><i class="iconfont like-num"></i></span>			
						</div>
					</li>					
				</ul>
				<ul ng-show="!isPage">
					<li ng-repeat="page in commentList">
						<div class="my_reply_li">
							<p class="my_reply" ng-bind="page.comment"></p>
							<div class="passage_author">
								<a target="_blank" ng-href="myself.html?id={{page.userId}}" class="avatar">
									<img src="/pic/user1.png" alt="">
								</a>
								<div class="name">
									<a href="">{{page.username}}</a>
									<span>{{page.upload_date|date:'yyyy-MM-dd'}}</span>
								</div>
							</div>
							<a target="_blank"  ng-href="/page/{{page.articleId}}" >
								<h3 class="title">
									{{page.title}}
								</h3>
							</a>	
							<a target="_blank"  ng-href="/page/{{page.articleId}}" >	
								<p class="abstract">
									{{page.abstract}}
								</p>
							</a>							
							<div class="meta">
								<a href=""><i class="iconfont read-num"></i></a>
								<a href=""><i class="iconfont reply-num"></i></a>
								<span><i class="iconfont like-num"></i></span>			
							</div>							
						</div>
					</li>
					<!-- <li ng-repeat="comment in commentList"><a target="_blank"  ng-href="/page/{{comment.articleId}}" ng-bind="comment.comment"></a></li> -->
				</ul>
			</div>
			<!-- <div class="follow_author">
				<a href="myself.html" class="avatar">
					<img src="/pic/user1.png" alt="">
				</a>
				<a href="" class="has_follow" ng-mouseover="follow_hover()">
					<i class="iconfont has"></i>
					<span>已关注</span>
				</a>
				<a class="follow_info">
					<a href="">小米薏仁粥</a>
					<p>
						<span>被256人关注</span>
						<span>发表了50篇文章</span>
					</p>
				</a> -->
<!-- 				<a href="" class="add_follow">
					<i class="iconfont add"></i>
					<span>加关注</span>
				</a>
				<a href="" class="cancel_follow">
					<i class="iconfont cancel"></i>
					<span>取消关注</span>
				</a> -->
			<!-- </div> -->
		</div>
	</figure>
</body>
</html>
<script src="/js/angular.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/iconfont.js"></script>
<script src="/js/myself.js"></script>
<script src="/js/common.js"></script>