<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
</head>
<link rel="stylesheet" href="../public/css/common.css">
<link rel="stylesheet" href="../public/css/myself.css">
<link rel="stylesheet" href="../public/css/demo.css">
<body>
	<nav>
		<div class="headerMenu">
			<a href="index.html" class="myLogo btn">我的博客</a>
			<a href="" class="signInBtn btn">写文章</a>
			<a href="sign-up.html" class="registerBtn btn">注册</a>
			<a href="sign-in.html" class="registerBtn btn">登录</a>
			<!-- <a href="myself.html" class="user_head_pic"><img src="http://upload.jianshu.io/users/upload_avatars/2963884/fff1fb89babb?imageMogr2/auto-orient/strip|imageView2/1/w/120/h/120" alt=""></a> -->
		</div>
	</nav>	
	<figure>
		<div class="container" ng-app="myApp" ng-controller="myselfCtrl">
			<div class="author">
				<a href="myself.html" class="avatar">
					<img src="../public/pic/user1.png" alt="">
				</a>
				<div class="info">
					<h3>取个名字真的要长</h3>
					<div>
						<a href=""><p>1</p> 关注</a>
						<a href=""><p>2</p> 粉丝</a>
						<a href=""><p>3</p> 文章</a>
					</div>
				</div>
			</div>
			<div class="tab_menu">
				<ul>
					<li class="select">文章</li>
					<li>关注</li>
					<li>评论</li>
				</ul>
			</div>
			<div class="tab_content">
				<ul>
					<li>
						<div class="passage_author">
							<a href="myself.html" class="avatar">
								<img src="../public/pic/user1.png" alt="">
							</a>
							<div class="name">
								<a href="">我的昵称</a>
								<span>31分钟前</span>
							</div>
						</div>
						<a href="page.html">
							<h3 class="title">
								无标题文章
							</h3>
						</a>	
						<a href="page.html">	
							<p class="abstract">
								今天雨真大
							</p>
						</a>							
						<div class="meta">
							<a href=""><i class="iconfont read-num"></i>20</a>
							<a href=""><i class="iconfont reply-num"></i>30</a>
							<span><i class="iconfont like-num"></i>12</span>			
						</div>
					</li>					
				</ul>
			</div>
			<div class="follow_author">
				<a href="myself.html" class="avatar">
					<img src="../public/pic/user1.png" alt="">
				</a>
				<a href="" class="has_follow" ng-mouseover="follow_hover()">
					<i class="iconfont has"></i>
					<span>已关注</span>
				</a>
				<a class="follow_info">
					<a href="">小米薏仁粥</a>
					<p>
						<span>被256人关注</span>
						<span>发表了50篇文章</span>
					</p>
				</a>
<!-- 				<a href="" class="add_follow">
					<i class="iconfont add"></i>
					<span>加关注</span>
				</a>
				<a href="" class="cancel_follow">
					<i class="iconfont cancel"></i>
					<span>取消关注</span>
				</a> -->
			</div>
		</div>
	</figure>
</body>
</html>
<script src="../public/js/angular.min.js"></script>
<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/iconfont.js"></script>
<script src="../public/js/myself.js"></script>