<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
</head>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/sign-up.css">
<link rel="stylesheet" href="/css/demo.css">
<body>
	<div class="sign-main">
		<h3 class="title">
			<div class="normal-title">
				<a href="sign-in.html" class="select" ng-class="{true:'select'}[isSelect]">登录</a>
				<b>·</b>
				<a href="sign-up.html" ng-class="{true:'select'}[isSelect]">注册</a>
			</div>
		</h3>
		<div class="sign-up-box">
			<form action="">
				<div>
					<input type="text" placeholder="用户名或昵称" class="name">
					<i class="iconfont user_name"></i>
				</div>
				<div>
					<input type="password" placeholder="请输入密码" class="keyword">
					<i class="iconfont password"></i>
				</div>
				<div>
					<input type="submit" value="登录" class="sign-in">
				</div>
			</form>
		</div>
	</div>
</body>
</html>
<script src="/js/angular.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/iconfont.js"></script>
<script src="/js/index.js"></script>
